<settings>
      <servers>
        <server>
            <id>anypoint-platform</id>
            <username>${env.ANYPOINT_USERNAME}</username>
            <password>${env.ANYPOINT_PASSWORD}</password>
        </server>
        <server>
            <id>github-maven</id>
			<configuration>
				<httpHeaders>
					<property>
						<name>Job-Token</name>
						<value>${env.CI_JOB_TOKEN}</value>
					</property>
				</httpHeaders>
			</configuration>
        </server>
      </servers>
</settings>